.EmailBox {
    background-color: rgb(24, 23, 23);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 4px;
    grid-template-areas:
    "build template template template"
    "build template template template"
    "build template template template"
    "build template template template";
}

.BuildBox {
    grid-area: build;
    background-color: rgb(225, 221, 221);
    width: 90%;
    margin-left: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}

.TemplateBox {
    background-color: rgb(225, 221, 221);
    width: 95%;
    height: auto;
    grid-area: template;
    margin-left: 20px;
    padding: 10px;
    flex-direction: column;
    overflow: auto;
    display: flex;
    align-items: center;
}
.TemplateBox input {
    width: 500px;
    padding: 5px;
    border-radius: 5px;
}

.TemplateBox button {
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 10px;
}

.imageModalBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* width: auto;
    height: auto; */
    min-width: 500px;
    min-height: 500px;
    /* margin-top: 50px; */
    background-color: rgb(225, 221, 221);
}

.pictureBox {
    display: flex;
    justify-content: space-around;
    background-color: rgb(172, 160, 160);
    height: 100%;
    width: 100%;

}

.imageGalleryBox {
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.backgroundButton {
    margin-top: 30px;
    padding: 10px;
}

.textArea textarea{
    height: 200px;
    width: 800px;
    resize: none;
    overflow-y: auto;
    border-radius: 10px;
}

.textArea2 textarea{
    height: 100px;
    width: 800px;
    resize: none;
    border-radius: 10px;
}

.TemplateContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

.imageButton {
    border-radius: 5px;
    width: 100px;
    height: auto;
    padding: 10px;
    align-self: center;
    margin-top: 40px;
}

.BuildBoxMenu button{
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 10px;

}
