/* .profile-dropdown {
  position: absolute;
} */

.navFlexBox {
  display:flex;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  background-color: rgb(101, 203, 236);
  border-radius: 10px;
  /* align-items: flex-end; */
  }

  .title {
  /* align-self: flex-start; */
  font-size: 50px;
  padding-left: 10px;
  }

  .fa-user-circle {
    /* align-self: flex-end; */
    font-size: 30px;
  }

  .Profile {
    /* align-self: flex-end; */
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .Profile a{
    padding-right: 10px;
    color: black;
  }

  .profileModalButton {
    border-radius: 5px;
    background-color: white;
  }

  .fa-star {
    font-size: 60px;
  }
